/**
* Margin, Padding, height, width styling
* All content on site is present in different blocks of div and each div has a class container or container-fluid
* The order of elements here is the order in which they appear on the page
*/
body {
    padding-top: 6rem;
}



.list-group-item {
    text-transform: uppercase;
}

#slot-sel-area input {
    color: black !important;
}

#insertSlotBtn .btn {
    white-space: normal;
}

#courseListTable {
    /* background-color important for screenshot */
    background-color: white;
    border: 1px solid #e5e5e5;
    margin-top: 0.3rem;
    border-color: #000;
}

#courseListTable th,
#courseListTable tr {
    text-align: center;
    border-color: #000;
}

#courseListTable tr th:not(:last-of-type) {
    cursor: pointer;
}

#courseListTable tr th.sorted,
#courseListTable tr th:hover:not(:last-of-type) {
    background-color: #f1f7ee;
}

#courseListTable tr th.ascending::after {
    content: ' ↓';
    font-size: larger;
}

#courseListTable tr th.descending::after {
    content: ' ↑';
    font-size: larger;
    font-weight: bold;
}

#courseListTable tr:not(:last-of-type) {
    cursor: pointer;
}

.table-active:hover {
    --bs-table-accent-bg: var(--bs-table-active-bg) !important;
}

footer {
    background-color: #9c27b0;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

/**
 * Disable text selection
 */
.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select: none;
}

@media (max-width: 768px) {
    #tt-action-buttons button span {
        display: none;
    }
    body {
        padding-top: 5rem;
    }
}

@media screen and (max-width: 400px) {
    #insertCourseSelectionOptions {
        grid-template-columns: unset;
    }
}

/**
 * Custom scrollbar
 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #f8ceff;
}

::-webkit-scrollbar-thumb {
    background: #9c27b0;
}
